.section__form {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 100%;
    padding: 15px;
}

@media (max-width: 767px) {
    .section__form {
        display: flex;
        flex-direction: column;
    }
}

.section__input {
    height: 35px;
    max-width: 800px;
    display: flex;
    flex-grow: 1;
    margin:5px;
}

.section__button {
    height: 35px;
    background-color: teal;
    color: white;
    border: none;
    font-weight: 400;
    margin:5px;
    padding: 5px;
    min-width: fit-content;
    transition: 1s;
    
}

.section__button:hover {
    background-color: rgb(5, 145, 145);
    transform: scale(1.1);
}

.section__button:active {
    border: solid 1px rgb(44, 44, 44);
    background-color: rgb(38, 187, 187);
}

.form__button {
    border: none;
    background: none;
    min-width: 160px;
    color: teal;
}

.form__button:hover {
    color: rgb(13, 156, 156);
}

.form__button:active {
    color: rgb(35, 194, 194);
    border: solid 1px rgb(41, 41, 41);
}

.form__button:disabled {
    color: rgb(179, 179, 179);
}

.form__buttons {
    display: flex;
}

@media (max-width: 767px) {
    .form__buttons {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .form__button {
        border: none;
        background: none;
        min-width: 160px;
        color: teal;
        margin: 5px;
    }
}