.listContainer__list {
    list-style: none;
    padding: 0px;
}

.container__listItem {
    padding: 10px;
    border-bottom: 2px solid  #ebe9e9;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.container__buttons {
    min-height: 27px;
    min-width: 27px;
    max-height: 27px;
    max-width: 27px;
    border: none;
    background-color: #e21c43;
    color: white;
    transition: 0.5s;
}

.container__buttons:hover {
    background-color: #eb3b5e;
}

.container__buttons--green {
    background-color: green;
    transition: 0.5s;
}

.container__buttons--green:hover {
    background-color: rgb(3, 153, 3);
}
.container__item {
    text-align: left;
    width: 100%;
    padding: 5px 15px;
}

.container__item--done {
    text-decoration: line-through;
}
.container__buttons:active {
    border: solid 1px #414141;
}

.filtersSection {
    width: 100%;
    padding: 15px;
    border-bottom: solid 2px #ebe9e9;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .filtersSection {
        display: flex;
        flex-wrap: wrap;
    }
}

.container__listItem--hidden {
    display: none;
}