.listContainer__list {
    list-style: none;
    padding: 0px;
}

.internalContainer__listItem {
    max-width: 1000;
    padding: 10px;
    border-bottom: 2px solid  #ebe9e9;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.container__buttons {
    height: 27px;
    width: 27px;
    border: none;
    background-color: #e21c43;
    color: white;
}

.container__buttons--green {
    background-color: green;
}

.container__item {
    text-align: left;
    width: 100%;
    padding: 5px 15px;
}

.container__item--done {
    text-decoration: line-through;
}